<?xml version="1.0"?>

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SimpleAJAXEchoService.EchoServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="SimpleAJAXEchoService.EchoService">
        <endpoint address="" behaviorConfiguration="SimpleAJAXEchoService.EchoServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="SimpleAJAXEchoService.EchoService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
