<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
			
		<!-- IIS 6, 7 Classic, and Visual Studio built-in web server -->
		<httpHandlers>
			<add verb="*" path="StyleHttpHandler.ashx"
         type="ScottsJewels.Web.StyleHttpHandler, StyleManager" />
			<add verb="*" path="ScriptHttpHandler.ashx"
         type="ScottsJewels.Web.ScriptHttpHandler, ScriptManager" />			
		</httpHandlers>
	</system.web>

  <system.webServer>

		<!-- Allows for <httpHandlers> and <handlers> to be used side-by-side for migration purposes. Otherwise would throw an error. -->
		<validation validateIntegratedModeConfiguration="false"/>
		
			<!-- IIS 7 Integrated. -->
			<handlers>
				<add name="StyleHttpHandler" verb="*"
					path="StyleHttpHandler.ashx"
					type=" ScottsJewels.Web.StyleHttpHandler, StyleManager"
					resourceType="Unspecified" />
				<add name="ScriptHttpHandler" verb="*"
					path="ScriptHttpHandler.ashx"
					type=" ScottsJewels.Web.ScriptHttpHandler, ScriptManager"
					resourceType="Unspecified" />
			</handlers>		
		
  </system.webServer>
</configuration>
